# macOS
.DS_Store

# ---- Terraform ----
**/.terraform/
*.tfstate
*.tfstate.*
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
!.terraform.lock.hcl
!*.tfvars.example

# ---- Env files ----
.env
.env.*

# ---- IDE / Editors ----
.vscode/
.idea/
.history

# ---- Temp files ----
*.swp
*.swo
*~
*.log